<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncuedu.bookshopserver.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.ncuedu.bookshopserver.pojo.Admin">
    <id column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
    <result column="admin_password" jdbcType="VARCHAR" property="adminPassword" />
    <result column="admin_tel" jdbcType="VARCHAR" property="adminTel" />
    <result column="admin_email" jdbcType="VARCHAR" property="adminEmail" />
    <result column="admin_is_super" jdbcType="INTEGER" property="adminIsSuper" />
    <result column="admin_create_time" jdbcType="TIMESTAMP" property="adminCreateTime" />
    <result column="admin_update_time" jdbcType="TIMESTAMP" property="adminUpdateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    admin_id, admin_name, admin_password, admin_tel, admin_email, admin_is_super, admin_create_time, 
    admin_update_time
  </sql>
  <select id="selectByExample" parameterType="com.ncuedu.bookshopserver.pojo.AdminExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ncuedu.bookshopserver.pojo.AdminExample">
    delete from admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ncuedu.bookshopserver.pojo.Admin">
    insert into admin (admin_id, admin_name, admin_password, 
      admin_tel, admin_email, admin_is_super, 
      admin_create_time, admin_update_time)
    values (#{adminId,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR}, #{adminPassword,jdbcType=VARCHAR}, 
      #{adminTel,jdbcType=VARCHAR}, #{adminEmail,jdbcType=VARCHAR}, #{adminIsSuper,jdbcType=INTEGER}, 
      #{adminCreateTime,jdbcType=TIMESTAMP}, #{adminUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="adminId" parameterType="com.ncuedu.bookshopserver.pojo.Admin">
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="adminName != null">
        admin_name,
      </if>
      <if test="adminPassword != null">
        admin_password,
      </if>
      <if test="adminTel != null">
        admin_tel,
      </if>
      <if test="adminEmail != null">
        admin_email,
      </if>
      <if test="adminIsSuper != null">
        admin_is_super,
      </if>
      <if test="adminCreateTime != null">
        admin_create_time,
      </if>
      <if test="adminUpdateTime != null">
        admin_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminName != null">
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPassword != null">
        #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="adminTel != null">
        #{adminTel,jdbcType=VARCHAR},
      </if>
      <if test="adminEmail != null">
        #{adminEmail,jdbcType=VARCHAR},
      </if>
      <if test="adminIsSuper != null">
        #{adminIsSuper,jdbcType=INTEGER},
      </if>
      <if test="adminCreateTime != null">
        #{adminCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminUpdateTime != null">
        #{adminUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ncuedu.bookshopserver.pojo.AdminExample" resultType="java.lang.Long">
    select count(*) from admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update admin
    <set>
      <if test="record.adminId != null">
        admin_id = #{record.adminId,jdbcType=INTEGER},
      </if>
      <if test="record.adminName != null">
        admin_name = #{record.adminName,jdbcType=VARCHAR},
      </if>
      <if test="record.adminPassword != null">
        admin_password = #{record.adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.adminTel != null">
        admin_tel = #{record.adminTel,jdbcType=VARCHAR},
      </if>
      <if test="record.adminEmail != null">
        admin_email = #{record.adminEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.adminIsSuper != null">
        admin_is_super = #{record.adminIsSuper,jdbcType=INTEGER},
      </if>
      <if test="record.adminCreateTime != null">
        admin_create_time = #{record.adminCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.adminUpdateTime != null">
        admin_update_time = #{record.adminUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update admin
    set admin_id = #{record.adminId,jdbcType=INTEGER},
      admin_name = #{record.adminName,jdbcType=VARCHAR},
      admin_password = #{record.adminPassword,jdbcType=VARCHAR},
      admin_tel = #{record.adminTel,jdbcType=VARCHAR},
      admin_email = #{record.adminEmail,jdbcType=VARCHAR},
      admin_is_super = #{record.adminIsSuper,jdbcType=INTEGER},
      admin_create_time = #{record.adminCreateTime,jdbcType=TIMESTAMP},
      admin_update_time = #{record.adminUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ncuedu.bookshopserver.pojo.Admin">
    update admin
    <set>
      <if test="adminName != null">
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPassword != null">
        admin_password = #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="adminTel != null">
        admin_tel = #{adminTel,jdbcType=VARCHAR},
      </if>
      <if test="adminEmail != null">
        admin_email = #{adminEmail,jdbcType=VARCHAR},
      </if>
      <if test="adminIsSuper != null">
        admin_is_super = #{adminIsSuper,jdbcType=INTEGER},
      </if>
      <if test="adminCreateTime != null">
        admin_create_time = #{adminCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminUpdateTime != null">
        admin_update_time = #{adminUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ncuedu.bookshopserver.pojo.Admin">
    update admin
    set admin_name = #{adminName,jdbcType=VARCHAR},
      admin_password = #{adminPassword,jdbcType=VARCHAR},
      admin_tel = #{adminTel,jdbcType=VARCHAR},
      admin_email = #{adminEmail,jdbcType=VARCHAR},
      admin_is_super = #{adminIsSuper,jdbcType=INTEGER},
      admin_create_time = #{adminCreateTime,jdbcType=TIMESTAMP},
      admin_update_time = #{adminUpdateTime,jdbcType=TIMESTAMP}
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
</mapper>